<form #studentForm="ngForm" (ngSubmit)="saveStudent()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 *ngIf="isCreate" class="panel-title">Create Student</h3>
            <h3 *ngIf="!isCreate" class="panel-title">Edit student</h3>
        </div>
        <div class="panel-body">
         
            <div class="form-group" [class.has-error]="FirstNameControl.invalid && FirstNameControl.touched" [class.has-success]="FirstNameControl.valid">
                <label for="FirstName">First Name</label>
                <input id="FirstName" [(ngModel)]="student.FirstName" name="fn" type="text" required class="form-control" #FirstNameControl="ngModel">
                <span *ngIf="FirstNameControl.invalid && FirstNameControl.touched" class="help-block">First Name is required</span>
            </div>
         
            <div class="form-group" [class.has-error]="LastNameControl.invalid && LastNameControl.touched" [class.has-success]="LastNameControl.valid">
                    <label for="LastName">Last Name</label>
                    <input id="LastName" [(ngModel)]="student.LastName" name="ln" type="text" required class="form-control" #LastNameControl="ngModel">
                    <span *ngIf="LastNameControl.invalid && LastNameControl.touched" class="help-block">Last Name is required</span>
            </div>           
           
            <div class="form-group">
                    <label>Gender</label>
                    <div class="form-control">
                        <label class="radio-inline">
                            <input value="Male" type="radio" name="gender" [(ngModel)]="student.Gender">
                            Male
                        </label>
                        <label class="radio-inline">
                            <input value="Female" type="radio" name="gender" [(ngModel)]="student.Gender">
                            Female
                        </label>
                    </div>
            </div>

            <div class="form-group" [class.has-error]="emailControl.invalid && emailControl.touched" [class.has-success]="emailControl.valid">
                <label for="email">Email</label>
                <input id="email" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" type="text" 
                        [(ngModel)]="student.Email" name="email" #emailControl="ngModel" class="form-control">
                <span *ngIf="emailControl.errors?.required && emailControl.touched" class="help-block">Email is required</span>
                <span *ngIf="emailControl.errors?.pattern && emailControl.touched" class="help-block">Email is invalid</span>
            </div>
        
            <div class="form-group">
                    <label for="BirthDate">Birth Date</label>
                    <input id="BirthDate" type="date" [(ngModel)]="student.BirthDate" name="BirthDate" class="form-control">
            </div>
          
            <div class="form-group" [class.has-error]="ProgramControl.invalid && ProgramControl.touched">              
                <label>Program</label>                    
                <select id="Program" required name="Program" [(ngModel)]="student.Program" class="form-control" #ProgramControl="ngModel">    
                    <option value="IT">IT</option>
                    <option value="Mechanics">Mechanics</option>              
                </select> 
                <span *ngIf="ProgramControl.invalid && ProgramControl.touched " class="help-block">Please select one item</span>
            </div>

            <div *ngIf="student.Program !== null" class="form-group" [class.has-error]="BranchControl.invalid && BranchControl.touched">              
                    <label>Branch</label>                    
                    <select id="Branch" required name="Branch" [(ngModel)]="student.Branch" class="form-control" #BranchControl="ngModel">    
                        <option *ngIf="student.Program === 'IT'" value="Java">Java</option>
                        <option *ngIf="student.Program === 'IT'" value="Angular">Angular</option>
                        <option *ngIf="student.Program === 'Mechanics'" value="Metal Manufacturing">Metal Manufacturing</option>
                        <option *ngIf="student.Program === 'Mechanics'" value="CAD Drafting">CAD Drafting</option>              
                    </select> 
                    <span *ngIf="BranchControl.invalid && BranchControl.touched " class="help-block">Please select one item</span>
            </div>
    
            <div class="form-group" [class.has-error]="YearOfPassingControl.invalid && YearOfPassingControl.touched" [class.has-success]="YearOfPassingControl.valid">
                    <label for="YearOfPassing">Year Of Passing (From 2010 to 2018)</label>
                    <input id="YearOfPassing" required pattern="^201[0-8]$" type="text" 
                            [(ngModel)]="student.YearOfPassing" name="YearOfPassing" #YearOfPassingControl="ngModel" class="form-control">
                    <span *ngIf="YearOfPassingControl.errors?.required && YearOfPassingControl.touched" class="help-block">Input is required</span>
                    <span *ngIf="YearOfPassingControl.errors?.pattern && YearOfPassingControl.touched" class="help-block">Input year out of range</span>
            </div>

            <div class="form-group" [class.has-error]="DurationControl.invalid && DurationControl.touched" [class.has-success]="DurationControl.valid">
                    <label for="Duration">Duration (From 1 to 5)</label>
                    <input id="Duration" required pattern="^[1-5]$" type="text" 
                            [(ngModel)]="student.Duration" name="Duration" #DurationControl="ngModel" class="form-control">
                    <span *ngIf="DurationControl.errors?.required && DurationControl.touched" class="help-block">Input is required</span>
                    <span *ngIf="DurationControl.errors?.pattern && DurationControl.touched" class="help-block">Input year out of range</span>
            </div>

            <div class="form-group">  
                    <label>Status</label>               
                    <div class="form-control">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="Status" [(ngModel)]="student.Status">Accepted                           
                        </label>                                            
                    </div>                
            </div>
            <div class="form-group" [class.has-error]="PhotoPathControl.invalid && PhotoPathControl.touched">              
                    <label>Photo</label>                    
                    <select id="PhotoPath" required name="PhotoPath" [(ngModel)]="student.PhotoPath" class="form-control" #PhotoPathControl="ngModel">    
                        <option value="assets/studentmale.jpg">Photo Male</option>
                        <option value="assets/studentfemale.jpg">Photo Female</option>             
                    </select> 
                    <span *ngIf="PhotoPathControl.invalid && PhotoPathControl.touched " class="help-block">Please select one item</span>
            </div>
            <div class="form-group">
                    <img src = {{student.PhotoPath}} >
            </div>
           
            <div class="form-group" [class.has-error]="DocumentPathControl.invalid && DocumentPathControl.touched">              
                    <label>Document</label>                    
                    <select id="DocumentPath" required name="DocumentPath" [(ngModel)]="student.DocumentPath" class="form-control" #DocumentPathControl="ngModel">    
                        <option value="assets/TOEFL sample.png">TOEFL Score</option>
                        <option value="assets/Diploma sample.jpg">Diploma</option>
                        <option value="assets/Certificate sample.jpg">Certificate</option>              
                    </select> 
                    <span *ngIf="DocumentPathControl.invalid && DocumentPathControl.touched " class="help-block">Please select one item</span>
            </div>
            <div class="form-group">
                    <img src = {{student.DocumentPath}}>
            </div>
    
        </div>
        <div class="panel-footer">
            <button type="submit" *ngIf="isCreate" class="btn btn-primary btn-space btn-width" [disabled]="studentForm.invalid">Save</button>
            <button type="submit" *ngIf="!isCreate" class="btn btn-primary btn-space btn-width" [disabled]="studentForm.invalid">Update</button>
            <button type="button" [disabled]="studentForm.invalid" class="btn btn-success btn-space btn-width" routerLink="/list">Go to List</button>
        </div>
    </div>
    </form>
  
